.grid {
    padding: 3rem;
    display: flex;
    width: 450px;
    height:450px;
    flex-wrap: wrap;
    gap: .7rem;
    overflow: hidden;
    margin-top: 1rem;

}

.btn {
    width: 3.7rem;
    height: 3.7rem;
    background: none;
    border: 3px solid white;
    text-transform: uppercase;
    font-size: 2rem;
    padding: .5rem;
    font-weight: bold;
    cursor: pointer;
    color: white;
    

}

.btn.active {
    background-color: rgb(109, 181, 181);
}

.btn.inactive {
    opacity: 0.1;
}

