body {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 3rem;
}

.mainContainer {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.header {
    font-size: 2rem; 
    text-align: center;
    color: white;
}